<html lang="en-us">
<head>
    <title>Salutem</title>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/landingpage.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="icon" href="../res/logo.jpg">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/landingpage.css">
    <style>
        .feature-desc {
            font-size: 0.75em;
            width: 50%;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div id="main" class="container">
                <div class="masthead clearfix">
                    <div class="container inner">
                        <h3 class="masthead-brand"><b>Aspecto</b></h3>
                        <av>
                            <ul class="nav masthead-nav">
                                <li class="active"><a id="home-button" href="#">Home</a></li>
                                <li class="active"><a id="features-button" href="#features">Features</a></li>
                            </ul>
                            </nav>
                    </div>
                </div>
                <div id="inner-cover" class="inner cover">
                    <h1 class="cover-heading">Health awareness has never been easier.</h1>
                    <p id="cover-heading-description" class="lead"></p>
                    <p class="lead">
                        <a href="#" id="start-button" class="btn btn-lg btn-default">Get Started</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="site-wrapper">
        <div id="features" class="inner cover">
            <h5 class="cover-heading">Features</h5>
            <p id="cover-heading-description" class="lead"></p>
            <div id="header"></div>
            <div id="container">
                <div id="first">
                    <style>
                    </style>
                    <h2>Insert Feature Here</h2>
                    <p class="feature-desc">Insert Description Here</p>
                </div>
                <div id="second">
                    <h2>Insert Feature Here</h2>
                    <p class="feature-desc">Insert Description Here</p>
                </div>
                <div id="third">
                    <h2>Insert Feature Here</h2>
                    <p class="feature-desc">Insert Description Here</p>
                </div>
                <div id="fourth">
                    <h2>Insert Feature Here</h2>
                    <p class="feature-desc">Insert Description Here</p>
                </div>
                <div id="clear"></div>
            </div>
        </div>
    </div>
</body>
</html>
